<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap" rel="stylesheet">

    <style>
      body, html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
      }

      .align-left {
        text-align: left;
      }

      .align-right {
        text-align: right;
      }

      .page-number {
        position: absolute;
        bottom: 10px;
        font-size: 8px;
        color: #6d6d6d;
      }
    </style>

    {% block css %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
