<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <style>
      body, html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
      }

      .align-left {
        text-align: left;
      }

      .align-right {
        text-align: right;
      }
    </style>

    {% block css %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
