{% extends 'base.njk' %}

{% block css %}
  <style>
    .page-number {
      {% if pageNumber % 2 !== 0 %}
        left: 10px;
      {% else %}
        right: 10px;
      {% endif %}
    }
  </style>
{% endblock %}

{% block body %}
  <div class="page-number">
    {{ pageNumber }}
  </div>
{% endblock %}
