{% extends 'base.njk' %}

{% block css %}
  <style>
    .months-years {
      text-align: center;
      padding: 10px 0;
    }

    .calendar {
      height: 100%;
      width: 100%;
      border-spacing: 0;
      border-collapse: separate;
    }

    .week-numbers th {
      padding: 0 10px 5px 10px;
      color: #6d6d6d;
      font-size: 10px;
    }

    .day-row td {
      border-top: 1px solid #000000;
    }

    .day {
      position: relative;
      padding: 10px;
      width: 50%;
    }

    .day .date {
      position: absolute;
      top: 5px;
      font-size: 10px;
    }

    .day .entries {
      position: absolute;
      width: 100%;
    }

    .day.left .date {
      left: 10px;
    }

    .day.left .entries {
      bottom: 10px;
      left: 10px;
    }

    .day .entry {
      display: inline-block;
      font-size: 8px;
    }

    .day.left .entry {
      margin-right: 5px;
    }

    .day.right .date {
      right: 10px;
    }

    .day.right .entries {
      bottom: 10px;
      right: 10px;
      text-align: right;
    }

    .day.right .entry {
      margin-left: 5px;
    }

    .day .holiday {
      width: 100%;
      font-size: 7px;
      color: #6d6d6d;
    }

    .weekday-cell {
      width: 20px;
      text-align: center;
    }

    .weekday {
      text-transform: uppercase;
      width: 1px;
      word-wrap: break-word;
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
    }

    .page-number {
      left: 8px;
    }

    .bottom-margin {
      height: 15px;
    }
  </style>
{% endblock %}

{% block body %}
  <table class="calendar">
    <thead>
      <tr>
        <th colspan="3" class="months-years">
          {% for month in monthsYears.months %}
            {% if loop.index0 > 0 %}
              &mdash;
            {% endif %}

            {% set monthsLength = monthsYears.months | length %}
            {% set yearsLength = monthsYears.years | length %}

            {% if monthsLength > 1 and yearsLength <= 1 and loop.index0 == 0 %}
              {{ month }}
            {% elseif monthsLength > 1 and yearsLength <= 1 %}
              {{ month }} {{ monthsYears.years[0] }}
            {% else %}
              {{ month }} {{ monthsYears.years[loop.index0] }}
            {% endif %}
          {% endfor %}
        </th>
      </tr>
      <tr class="week-numbers">
        <th class="align-left">{{ leftWeek.weekNumber }}</th>
        <th></th>
        <th class="align-right">{{ rightWeek.weekNumber }}</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 7) %}
        {% include "day.njk" %}
      {% endfor %}
      <tr>
        <td class="bottom-margin" colspan="3"></td>
      </tr>
    </tbody>
  </table>

  <div class="page-number">
    {{ pageNumber }}
  </div>
{% endblock %}
