<tr class="day-row">
  <td class="day left">
    <div class="date">{{ leftWeek.days[i].date }}</div>
  </td>
  <td class="weekday-cell">
    <div class="weekday">
      {{ leftWeek.days[i].dayOfTheWeek }}
    </div>
  </td>
  <td class="day right">
    <div class="date">{{ rightWeek.days[i].date }}</div>
  </td>
</tr>
