{% extends 'base.njk' %}

{% block css %}
  <style>
    .page-number {
      right: 10px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="page-number">
    {{ pageNumber }}
  </div>
{% endblock %}
